*{margin: 0;padding: 0;box-sizing: border-box;}

.bodystyle{
    width: 90%;
    margin: 0 auto;
}
.logostyle{
    height: 28px;
}

.carousel-item{
    position: relative;
    margin-top: 50px;
}
.carousel-caption{
    position: absolute;
    top: 110px;
    right: 10px;
}
.carousel-caption h1{
    text-align: left;
}
.carousel-caption p{
    text-align: left;
}
.carousel-caption button{
    color: white;
    background: blue;
    font-size: 15px;
    padding: 10px 20px;
    border: none;
    position: absolute;
    left: 0;
    
}

main
{
   margin: 40px;
   
}

.textnew
{
    margin-top: 50px;
}
.next-section
{
    margin: 50px 0;
}
.socialmedia
{
    margin-bottom: 40px;
}
.fa-youtube
{
    color: red;
}
footer
{
  background-color: #f2f2f2;
  padding: 40px;
  
}
footer li{
    list-style: none;
}
footer a{
    text-decoration: none;
    color:#818181;
}
.current
{
    padding-left: 32px;
}